<html>
<head>
  <title>RideTo Product App</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="theme-color" content="#000000">
  <link href="/static/css/main.css" rel="stylesheet" />
</head>
<body>
  <noscript>
    You need to enable JavaScript to run this app.
  </noscript>

  {% csrf_token %}
  <div id='root'></div>

  <script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>
