.product {
  display: flex;
  padding: 10px 16px;
  justify-content: space-between;
  align-items: center;
}

.product h4 {
  margin: 0;
}

.image {
  width: 64px;
  min-width: 64px;
}

.image img {
  width: 100%;
}

.details {
  margin-left: 16px;
  margin-right: 16px;
  flex-grow: 1;
  text-decoration: none;
  color: #2a2a2a;
}
