.votes {
  background: #fff;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  color: #000;
  fill: #000;

  vertical-align: top;
  text-align: center;
  text-decoration: none;

  height: 24px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 64px;
}

.votes:disabled {
  background: #e8e8e8;
  cursor: initial;
}
