.filters {
  display: flex;
  align-items: center;

  text-transform: uppercase;
  font-weight: 300;
  font-size: 0.8em;
}

.filter {
  margin-right: 8px;
  padding-right: 8px;
  border-right: solid 1px black;

  cursor: pointer;
}

.filter:last-child {
  border-right: none;
  padding-right: 0;
  margin-right: 0;
}

.active {
  font-weight: 800;
}
