.button {
  cursor: pointer;
  background: #23a489;
  box-shadow: 1px 1px 8px #888;
  outline: 0 !important;
  border: none;
  color: white;
  text-transform: uppercase;
  width: 100%;
  padding: 16px;
}

.button:disabled {
  background: #7fc9b9;
  cursor: initial;
}
