.productList {
  border: 1px solid #e8e8e8;
  border-bottom: none;
  max-width: 600px;
}

.heading {
  border-bottom: 1px solid #e8e8e8;
  padding: 8px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
