.productDetail {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.content {
  padding: 12px;
  border: 1px solid #e8e8e8;
  background: white;
  margin-bottom: 16px;
}

.content img {
  width: 100%;
}

.actions {
  text-align: center;
  width: 100%;
  display: flex;
}

.visit {
  color: #2A2A2A;
  display: block;
  font-size: 16px;

  margin-right: 16px;

  background: #fff;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  color: #000;
  fill: #000;

  vertical-align: top;
  text-align: center;
  text-decoration: none;

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 64px;
}

.info {
  width: 100%;
  margin-top: 16px;
}

.infoRow {
  margin-top: 8px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
