.productDialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;

  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.dialogContent {
  background: #f9f9f9;
  z-index: 1;

  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;

  background: rgba(120,120,120,0.4);
  width: 100%;
  height: 100%;
}

.dialogHeader {
  display: flex;
  justify-content: space-between;
  padding: 12px 16px;
}

.title {
  display: flex;
  align-items: center;
  font-size: 20px;
}

.headerImage {
  width: 40px;
  height: 40px;
  margin-right: 16px;
}

.headerActions {
  font-size: 20px;
  font-weight: 400;
}

.actionIcon {
  cursor: pointer;
  padding: 16px;
  padding-right: 4px;
}

.dialogBody {
  padding: 12px 16px;
  height: 85vh;
  overflow-y: auto;
}

.content {
  padding: 12px;
  border: 1px solid #e8e8e8;
  background: white;
  margin-bottom: 16px;
}

.heading h4 {
  margin: 0;
}

.subHeading {
  font-size: 14px;
}

@media (min-width: 576px) {
  .dialogContent {
    max-width: 600px;
    height: auto;
    margin-top: 100px;
    box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
    border-radius: 4px;
  }

  .dialogBody {
    height: auto;
  }
}
